.top-background-holder, nav, .print-icon, footer, .left-col {
    display: none;
}

.inside-page .right-col {
    width: 100%;
}

.inside-page h1 {
    font-size: 30px;
}

.title {
    font-size: 16px;

}
