/*
===============================
FONTS
===============================
*/
@font-face {
    font-family: 'dancing_script_otregular';
    src: url('../fonts/dancingscript-regular-webfont.eot');
    src: url('../fonts/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dancingscript-regular-webfont.woff2') format('woff2'),
    url('../fonts/dancingscript-regular-webfont.woff') format('woff'),
    url('../fonts/dancingscript-regular-webfont.ttf') format('truetype'),
    url('../fonts/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
===============================
STYLES
===============================
*/

.top-background-holder {
    position: relative;
    background: url("../images/landscape.jpg");
    background-size: cover;
    padding-bottom: 20px;
}

.fader {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.header {
    padding: 20px 15px 20px 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10 !important;
}

.header p {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    line-height: 55px;
    color: #FFF;
}

.header a {
    position: relative;
    z-index: 11 !important;
    display: inline-block;
    color: #fff;
}

.header a:hover {
    text-decoration: none;
}

.header a span {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    display: block;
    color: #fff;
    width: 200px;
    margin: 0;
    padding: 0;
}

.header a img {
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 8px;
}



.header i {
    color: #fff;
    float: right;
    cursor: hand;
    cursor: pointer;
}

.top-buttons [class*="col-"]  {
    min-height: 0;
    padding-right: 0;
    padding-left: 0;
}

.top-buttons {
    text-align: center;
}

.wrapper {

}



.largebutton {
    display: block;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    cursor: pointer;
    cursor: hand;
}

.largebutton:hover {
    color: #fff;
    text-decoration: none;
}

.largebutton p {
    font-family: 'Raleway', sans-serif;
    margin-top:10px;
    margin-bottom: 0;
    font-size: 15px;
}


.owl {
    display: block;
    background: url("../images/owl.jpg");
    background-size: cover;
    padding: 0;
    padding-bottom:800px;
    margin-bottom: -800px;
}

.owl div {
    display: none;
    background-color: #000;
    opacity: .6;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.welcome {
    text-align: center;
    float: right;
    padding: 25px 35px;
    background-color: #fff;

}

.welcome p {
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
}

.welcome h1 {
    font-family: 'dancing_script_otregular', sans-serif;
    font-size: 60px;
    color: #95ae22;
    margin-top: 0;
}

.new-info {
    padding-top: 20px;
    padding-bottom: 20px;
}

.new-info div {
    font-family: 'Raleway', sans-serif;
    border-right: 1px solid #95ae22;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
}

.new-info div:last-child {
    border: none;
}

.new-info p {
    margin: 0 0 10px 0;
    padding: 0;
}

.new-info p span {
    font-weight: bold;
}


.whats-new {
    text-align: center;
}

.whats-new p {
    font-family: 'dancing_script_otregular', sans-serif;
    font-size: 60px;
    color: #d1db2a;
}

.videobg {
    position: relative;
    height: 200px;
    overflow: hidden;
    background-color: #000;
    z-index: -99;
}

.videobg a {
    color: #95ae22;
    cursor: pointer;
    cursor: hand;
}

.video-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: url('../video/snaps/it-was-all-yellow.jpg') no-repeat;
    background-size: cover;
    top:0;
    left:0;
    opacity: .4;
}

video {
    top:0;
    left: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
    transform:  translateY(-50%);
}

.flowers-content {
    position: absolute;
    background: transparent;
    color: #fff;
    text-align: center;
    margin-top: 90px;
}

.video-container [class*="col-"]  {
    min-height: 0;
    padding-right: 0;
    padding-left: 0;
}



/* inside page styles */
.print {
    display: block;
    width: 110px;
    margin:20px 0 0 0;
    color: #575a49;
    float: right;
}

.print:hover, .print:link, .print:active {
    color: #95ae22;
    text-decoration: none;
}

.print i {
    float: left;
    margin-right: 8px;
}

.print span {
    display: block;
    margin-right: 10px;
}

.inside-page {
    background-color: #eeecde;
}

.left-col, .right-col {
    font-family: 'Raleway', sans-serif;
    display: block;
}

.left-col {
    width:20%;
    float: left;
    padding-right: 20px;
    padding-left: 10px;
}

.left-col a {
    display: inline-block;
    position: relative;
    color: #575a49;
    width:100%;
    background-color: #d1db2a;
    margin: 10px 0;
    padding: 20px 25px 20px 10px;
}

.left-col a:hover {
    color:#fff;
    text-decoration: none;
}

.left-col a i {
    position: absolute;
    top:30%;
    right: 5px;
}

.right-col {
    text-align: left;
    width:80%;
    float: right;
    padding: 5px 5px 0 20px;
    margin-bottom: 40px;
}

.title {
    text-align: left;
    color: #61730f;
    font-size: 27px;
    border-bottom: 1px solid #c6c4b9;
    margin: 15px 60px 10px 0;
    padding-right: 20px;
}

.inside-page h1 {
    font-family: 'dancing_script_otregular', sans-serif;
    font-size: 80px;
    color: #95ae22;
    margin: 0 0 20px 20px;
}











/* Glyph Sizes */
.fa-2 {
    font-size: 10px;
}

.fa-3 {
    font-size: 20px;
}

.fa-4 {
    font-size: 30px;
}

.fa-5 {
    font-size: 30px;
}

.fa-6 {
    font-size: 40px;
}

.fa-7 {
    font-size: 50px;
}

.fa-8 {
    font-size: 60px;
}

.fa-9 {
    font-size: 70px;
}

/* Top buttons colors */
.dark-green {
    background-color: #61730f;
}
.mid-green {
    background-color: #95ae22;
}
.light-green {
    background-color: #d1db2a;
}

.no-overflow {
    overflow: hidden;
}




/* Media Queries */

@media screen and (min-width: 0px) {
    .header {
        width: 100%;
        padding-left: 30px;
    }
    .largebutton {
        width: 100%;
    }
    .header p {
        font-size: 40px;
        margin-top: 102px;
    }

    .welcome {
        color: #000;
    }
    .owl div {
        display: none;
    }

    .owl {
        display: none;
    }

    .new-info div {
        border-right: none;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
    }

    .whats-new p {
        display: inline-block;
        border-bottom: 1px solid #95ae22;
        padding-left: 20px;
        padding-right: 20px;
    }

    video {
        display: none;
        -webkit-transform: translateY(-50%);
        transform:  translateY(-50%);
    }

    .navbar {
        margin-bottom: 0;
    }

    .navbar {
        font-family: 'Raleway', sans-serif;
        background-color: #eeecde;

    }

    .navbar-header {
        text-align: center;
        background-color: #eeecde;
    }

    .navbar-toggle {
        float: none;
        margin: 0;
        padding: 0;
    }

    .navbar-toggle i {
        margin-top: 10px;
        color: #61730f;
    }

    .close-btn {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .navbar a {
        text-decoration: none;
        font-size: 12px;
        color: #000;
    }

    .navbar ul li a:hover, .navbar ul li li a:hover {
        background-color: transparent;
        /*text-decoration: underline;*/
        color: #95ae22;
    }

    .navbar ul {
        width:100%;
        margin: 0 0 15px 0;
        padding: 0;
        list-style: none;
    }
    .navbar ul ul {
        margin: 0;
        padding: 0;
        width:100%;
        list-style: none;
    }
    .navbar ul li {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .navbar ul li li {}
    .navbar ul li a {
        text-transform: uppercase;
        font-size: 20px;
    }
    .navbar ul li li a {
        text-transform: none;
        line-height: 18px;
        font-size: 12px;
        display: block;
        width:100%;
    }

    .welcome p, .new-info .appeals p {
        font-size: 12px;
    }

    .print-icon {
        display: none;
    }

    .inside-page .navbar {
        border-bottom: 1px solid #61730f;
    }

    .left-col, .right-col {
        width:100%;
    }

    footer {
        width:100%;
        display: inline-block;
        clear: both;
        background-color: #1b1b1b;
        color: #575a49;
        text-align: center;
        padding: 20px 0;
    }

    footer a {
        text-align: right;
        float: left;
        padding-left: 40px;
    }

    footer a, footer ul li a, footer ul li a:link, footer ul li a:active {
        color: #575a49;
        text-decoration: none;
    }

    footer a:hover {
        color:#eeecde;
        text-decoration: none;
    }

    footer ul {
        display: block;
        width:100%;
        float: left;
        clear: both;
    }

    footer ul li {
        border:none;
        display: block;
        text-align: left;
    }

    footer ul li a {
        float: none;
        padding-left: 0;
    }

    footer span {
        display: none;
    }

    footer p {
        display: block;
        text-align: left;
        padding-left: 40px;
        padding-right: 20px;
    }


}

@media screen and (min-width: 420px) {
    .header p {
        font-size: 60px;
    }

    .largebutton {
        width: 33.3%;
    }

    .welcome {
        color: #FFF;
        background-color: transparent;
    }
    .owl {
        display: block;
    }
    .owl div {
        display: inline-block;
        position: absolute;
    }

    video {
        display: block;
        -webkit-transform: translateX(-60%) translateY(-70%);
        transform: translateX(-60%) translateY(-50%);
    }

    .top-buttons .container {
        width: 100%;
    }

    .welcome-msg .container {
        width: 100%;
    }

    .welcome p, .new-info .appeals p {
        font-size: 12px;
    }

    .inside-page p {
        font-size: 12px;
    }

    .inside-page .title {
        font-size: 20px;
    }

    .left-col a {
        font-size: 12px;
    }

    footer ul {
        display: inline-block;
        width: auto;
    }

    footer p {
        float: right;
        padding-right: 20px;
    }

    footer a {
        float: right;
        padding-right: 20px;
    }

    footer ul li a {
        float: none;
    }


}

@media screen and (min-width: 768px) {

    .welcome {
        color: #000;
        background-color: #eeecde;
    }
    .owl div {
        display: none;
    }

    .whats-new p {
        display: inline-block;
        border-bottom: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .new-info div {
        border-right: 1px solid #95ae22;
    }

    video {
        -webkit-transform: translateX(0%) translateY(-70%);
        transform: translateX(0%) translateY(-50%);
    }

    .top-buttons .container {
        width: 100%;
    }

    .welcome-msg .container {
        width: 100%;
    }


    /*Navebar*/

    .header-menu {
        margin-right: 15px;
        display: block;
    }
    #navbar, #navbar .container  {
        margin: 0;
        padding: 0;
    }


    .navbar {
        display: none;
        font-family: 'Raleway', sans-serif;
        position: absolute;
        width:300px;
        height: 100%;
        top:0;
        right:0;
        /*background-color: #000;*/
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        /*opacity: .6;*/
    }

    .navbar .close-btn {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px;
        margin-top: 20px;
        color: #95ae22;
        float: right;
    }

    .navbar .close-btn:hover {
        text-decoration: none;
    }

    .navbar ul {
        display: block;
        float: left;
        margin: 25px 0 0 0;
        padding: 0;
        width:85%;
    }

    .navbar ul ul {
        display: block;
        margin: 0;
        padding: 0;
        float: right;
    }

    .navbar ul li {
        display: inline-block;
        float: none;
        text-align: right;
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar ul li li {
        margin-bottom: 0;
    }

    .navbar ul li a {
        margin: 0;
        padding: 0;
        color: #bfbfbf;
        padding-right: 30px;
        font-size: 20px;
    }

    .navbar ul li a:hover, .navbar ul li li a:hover {
        background-color: transparent;
        text-decoration: none;
        color: #fff !important;
    }

    .navbar ul li li a {
        font-size: 12px;
    }

    .welcome p, .new-info .appeals p {
        font-size: 12px;
    }

    .print-icon {
        display: block;
    }

    .left-col {
        width: 20%;
    }

    .right-col {
        width:80%;
    }

    footer {
        background-color: #1b1b1b;
        color: #575a49;
        text-align: center;
        padding: 20px 0;
    }

    footer ul {
        float: none;
        display: block;
        list-style: none;
        margin: 0;
    }

    footer ul li {
        display: inline-block;
        border-left: 1px solid #575a49;
    }

    footer a {
        float: none;
        padding-left: 0;
    }

    footer a:hover {
        color:#575a49;
    }

    footer ul li a {
        display: inline-block;
        padding: 0 10px;
    }

    footer p {
        padding-right: 0;
        float: none;
    }

    footer ul li:first-child  {
        border-left: none;
    }

    footer span, footer p {
        display: inline-block;
    }

}

@media (min-width: 992px) {
    .header {
        width: 999px;
        padding-left: 30px;
    }
    .header p {
        width: 970px;
    }

    .owl div {
        display:none;
    }

    .top-buttons .container {
        width: 100%;
    }

    .welcome-msg .container {
        width: 100%;
    }

    .welcome p, .new-info .appeals p {
        font-size: 14px;
    }

    .inside-page p {
        font-size: 14px;
    }

    .inside-page .title {
        font-size: 25px;
    }

    .left-col a {
        font-size: 14px;
    }



}

@media (min-width: 1200px) {
    .header  {
        width: 1170px;
    }

    .welcome-msg .container {
        width: 100%;
    }

    .top-buttons .container {
        width: 100%;
    }

    .welcome-msg .welcome {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .top-background-holder {
        background-position-y: -200px;
    }
    .owl {
        background-position-y: -55px;
    }

    .welcome p, .new-info .appeals p {
        font-size: 16px;
    }

    .inside-page p {
        font-size: 16px;
    }

    .inside-page .title {
        font-size: 27px;
    }

    .left-col a {
        font-size: 16px;
    }



}
